<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Icalia Directory</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://hackerschool.s3.amazonaws.com/blog/css/blog.css">
  <script type="text/javascript" src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
</head>
<body>
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">Icalia Directory</h1>
      </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
      <div>
        <div class="posts">
          <h1 class="content-subhead">Icaliers</h1>
          <section class="post">
            <header class="post-header">
              <img class="post-avatar" alt="Abraham" height="48" width="48" src="">
              <h2 class="post-title">Senior Developer</h2>
              <p class="post-meta">
                By <a href="#" class="post-author">Abraham</a>
                <a class="post-category post-category-ruby" href="#">Ruby</a>
                <a class="post-category post-category-javascript" href="#">Javascript</a>
              </p>
            </header>
            <div class="post-description">
              <p data-editable>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </section>
        </div>
        <div class="footer">
          <div class="pure-menu pure-menu-horizontal">
            <ul>
              <li class="pure-menu-item">
                <a href="http://www.icalialabs.com/" class="pure-menu-link">Icalia Labs</a>
              </li>
              <li class="pure-menu-item">
                <a href="https://twitter.com/icalialabs" class="pure-menu-link">Twitter</a>
              </li>
              <li class="pure-menu-item">
                <a href="https://github.com/IcaliaLabs" class="pure-menu-link">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
