/* It's important to divide differnt kinds of variables for better reading */

//COLOR VARIABLES
$color-primary: #e80039;
$color-primary-darken: #cc093a;
$color-light: #fff;
$color-card-body: #f3f3f3;
$color-card-border: #ececec;
$color-dark: #0e0d0d;

//SEPARATION VARIABLES
$separation: 16px;
$separation-m: 24px;
$separation-l: 64px;